<div id="flex">
  <div class="greetings">
      <h1>Categories</h1>
  </div>
  
  <div id="category-list">
      <!-- {{range .Categories}} -->
      <a href="/category/{{.CategoryID}}">
          <div class="category-box">
              {{.CategoryName}}
          </div>
      </a>
      <a href="/category/{{.CategoryID}}">
        <div class="category-box">
            {{.CategoryName}}
        </div>
      </a>
      <a href="/category/{{.CategoryID}}">
        <div class="category-box">
          {{.CategoryName}}
        </div>
      </a>
      <a href="/category/{{.CategoryID}}">
        <div class="category-box">
            {{.CategoryName}}
        </div>
      </a>
      <!-- {{end}} -->
  </div>
</div>
