<div class="chat-body">
  <div class="chat-container">
      <div class="user-list">
          <div class="user-list-item">
              <div class="user-image-container">
                  <img src="https://via.placeholder.com/30" alt="User Image">
                  <div class="online-indicator"></div>
              </div>
              <div class="unread-noti"></div>
              User 1
          </div>
          <div class="user-list-item">
              <div class="user-image-container">
                  <img src="https://via.placeholder.com/30" alt="User Image">
                  <div class="online-indicator"></div>
              </div>
              <div class="unread-noti"></div>
              User 2
          </div>
          <div class="user-list-item">
              <div class="user-image-container">
                  <img src="https://via.placeholder.com/30" alt="User Image">
                  <div class="online-indicator"></div>
              </div>
              <div class="unread-noti"></div>
              User 3
          </div>
          <!-- Add more user list items here -->
      </div>
      <div class="chat-messages" id="chat-messages">
          <div class="message-container">
              
              <div class="message">
                  <div class="message-content">
                      Hello, User 2!
                  </div>
              </div>
              <div class="message-timestamp">
                  10:00 AM
              </div>
          </div>
          <div class="message-container-u">
              <div class="message user">
                  <div class="message-content">
                      Hi, User 1! How are you doing?
                  </div>
              </div>
              <div class="message-timestamp">
                  10:00 AM
              </div>
          </div>
          <!-- Add more message containers with timestamps here -->
          <div class="input-box">
              <input type="text" placeholder="Type your message here...">
              <button><i class="fa fa-send"></i></button>
          </div>
      </div>
  </div>
</div>