<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Sign up</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
<link rel="icon" type="image/png" href="/static/img/favicon.png">
</head>

<body>
    <div class="banner">
        <img src="/static/img/LOGO.png" width="200" height="auto" alt="logo"/>
        <h1>Welcome to talk!</h1>
            <a href="/login">
            <button class="sign-btn">LOG IN</button>
            </a>    
            <p><a href="/home"> Enter as guest</a></p>
    </div>
    <div class="sign-form">
        <form method="POST" action="/register">
            <h1>Create Account</h1>
            <input class="account-int" type="text" name="username" placeholder="Username" required><br>
            <input class="account-int" type="email" name="email" placeholder="Email" required><br>
            <input class="account-int" type="password" name="password" placeholder="Password" required><br>
            
            <input class="sign-btn" type="submit" value="REGISTER">
        </form>
    </div>
    
    <style>
        body{
            background-color: #F5F5F5;
            font-family: 'century gothic';
            
        }
        /* #EAEEED */
        
    </style>
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="sign-in-form">
        <img src="/static/img/LOGO.png" width="100" height="auto" alt="logo"/>
        <form method="POST" action="/register">
            <input class="up" type="text" name="username" placeholder="Username" required><br>
            <input class="up" type="email" name="email" placeholder="Email" required><br>
            <input class="up" type="password" name="password" placeholder="Password" required><br>
            <input class="submit-btn" type="submit" value="Register">
            <p>Have an account?<a href="/login"> Log in</a></p>
            <p><a href="/home"> Enter as guest</a></p>
        </form>
    </div>
</body>
</html> -->